<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Room</title>
    <!-- SockJS 라이브러리 로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <!-- STOMP 라이브러리 로드 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body>

<h1>Chat Room</h1>
<div id="chatArea">

</div>
<input type="text" id="messageInput" placeholder="메시지를 입력하세요">
<button onclick="sendMessage()">전송</button>

<script>
    var chatArea = document.getElementById('chatArea');

    window.BeforeUnloadEvent = function () {
        if (stompClient !== null) {
            stompClient.disconnect();
            console.log("stopClient Successfully disconnect");
        }
    }

    var chatList = '[[${chatList}]]';
    var socket = new SockJS('/ws-connect');
    var stompClient = Stomp.over(socket); // stompClient.disconnect() -> 채팅방 나가기 할때 socket 끊어주기

    stompClient.connect({}, function(frame) {
        showOldMessages(chatList);
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/greetings', function(message) { // /topic/greetings 를 구독함
            showMessage(JSON.parse(message.body));
        });
    });

    function sendMessage() {
        var messageInput = document.getElementById('messageInput');
        var messageContent = messageInput.value.trim();
        if (messageContent) {
            stompClient.send("/app/talk", {}, JSON.stringify({ content: messageContent })); // sender: 추가해서 보내줄 수도 있음 (나중에)
            // /app/talk 으로 send 하면 /app 은 메시지 브로커에 의해 prefix(websocketBrokerConfiguration 에서 설정함)로 무시되고 talk 만 요청으로 가게 됨)
            messageInput.value = '';
        }
    }

    // 채팅방 들어왔을 때 이전 채팅 다 같이 보여야 함
    function showMessage(message) {
        console.log("message : ", message);
        // TODO: showOldMessage 하위에 붙도록 수정 필요
        chatArea.innerHTML += '<div>' + message.sender + ': ' + JSON.parse(message.message).content + '</div>';

    }

    function showOldMessages(chatList) {
        // axios("/get/chats/")
        if(chatList != null) {
            for(chat in chatList) {
                chatArea.innerHTML += '<div>' + chatList[chat].sender + ': ' + chatList[chat].message + '</div>';
                chatArea.innerHTML += '<div>' + '--------- 이전 채팅 -----------' + '</div>';

            }
        }
    }
</script>
</body>
</html>